extends layout/layout.pug
append content
    #title(class='flex justify-center h-1/5')
        h1(class='text-8xl my-auto inline') #{message}
    #content(class='flex h-4/5 overscroll-none')
        p(class='text-4xl text') Esto es una template de PUG para ver el funcionamiento y como estructurar las vistas